extends ../layouts/common
block content  
  h2.mb-4  Update Title Book

  form.form-group(action='/books/' + book.id + '/update' , method='POST')
    input.form-control(type='text', name='title' value=book.title)
    button.btn.btn-primary.mt-2(type='subtmit') Update
